<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="mat-elevation-z4" color="primary">
  <mat-toolbar-row>
    <span>Codefest Round 1</span>
  </mat-toolbar-row>
</mat-toolbar>
<app-dashboard></app-dashboard>
<app-stage [stage]=1></app-stage>
<app-stage [stage]=2></app-stage>
<app-stage [stage]=3></app-stage>
<app-stage [stage]=4></app-stage>
<app-stage [stage]=5></app-stage>
