<!--<h3 class="card-title">{{rate.processRate | async}}</h3>-->
<div class="container">
  <div class="row">
    <mat-card class="dcard col-md-5">
      <mat-card-header>
        <h1>{{ rate | async }}</h1>
      </mat-card-header>
    </mat-card>
    <div class="col-md-2"></div>
    <mat-card class="dcard col-md-5">
      <mat-card-header>
        <h1>{{ defects | async }}</h1>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<!--<h3 class="card-title">{{rate.defectivePersentage | async}}</h3>-->


